{% load static %}

<meta http-equiv="pragma" content = "no-cache"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>My Website</title>

</head>
<body data-spy = "scroll" data-target="#navbarResponsive">
  {% include "pages/snipsets/navbar.html" %}

  <div class="landing">
      <div class="home-wrap">
        <div class="about-inner">
          
        </div>
    </div>
  </div>

  <div class="caption text-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class = "aboutTag">
            <h2>About Me</h2>
        </div>
      </div>  
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class= "aboutParagraph" text-center>
        <p>
            I’m an ungraduate student at Faculty of Computer Science Universitas Indonesia majoring computer science.
        </p>
        <p>
            I’m 18 years old and single. 
        </p>
        <p>
            If you intersted on me, click “more about me” in the section below. 
        </p> 
        </div>
      </div>  
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <a class="btn btn-outline-light btn-lg" href= "/about">more about me</a>
      </div>  
  </div>

</body>
</html>