{% load static %}

<meta http-equiv="pragma" content = "no-cache"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href = "{% static 'css/style.css' %}" >
<link rel="stylesheet" href = "{% static 'css/style/fixed.css' %}">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>My Website</title>

</head>
  <body data-spy = "scroll" data-target="#navbarResponsive">
    {% include "pages/snipsets/navbar.html" %}
   
    <div class="landing">
        <div class="home-wrap">
          <div class="contact-inner">
          </div>
      </div>
    </div>

    <div class="caption text-center">
      <div class ="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Contact Me</h1>
        <h4>"if you don't know, you dont love. Let's start knowing each other"</h4>
        <h4>- many people said</h4>
      </div>
      <div class = "row">
        <ul class= "row socialMediaContent column">
          <div class ="col-6 col-sm-3 col-md-2 col-lg-2 text-center">
            <li class = "mediaLogo"><a href="https://www.instagram.com/roygdsnd/"><img src="{% static 'assets/instagram.png' %}"></a></li>
          </div> 
          <div class ="col-6 col-sm-3 col-md-2 col-lg-2 text-center">
            <li class = "mediaLogo"><a href="https://twitter.com/roygdsnd"><img src="{% static 'assets/twitter.png' %}"></a></li>
          </div>   
          <div class ="col-6 col-sm-3 col-md-2 col-lg-2 text-center">
            <li class = "mediaLogo"><a href="https://www.linkedin.com/in/roygdsnd/"><img src="{% static 'assets/linkedin.png' %}"></a></li>
          </div>
          <div class ="col-6 col-sm-3 col-md- 2 col-lg-2 text-center">
            <li class = "mediaLogo"><a href=""><img src="{% static 'assets/gmail.png' %}"></a></li>
          </div>
        </ul>
      </div> 
     </div>

  </body>
</html>