{% load static %}

<!DOCTYPE html>
<html>
  <meta http-equiv="pragma" content = "no-cache"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
  <link rel="stylesheet" href = "{% static 'css/style/fixed.css' %}">
  <link rel="stylesheet" href = "{% static 'css/style.css' %}" >
  <head>
  <title>{{Title}}</title>
  </head>
  
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <body data-spy = "scroll" data-target="#navbarResponsive">
      {% include "pages/snipsets/navbar.html" %}
      <div class = "caption-form">
          <form method = "POST">
              {% csrf_token %}
              <form>
                  <div class="form-group row col-lg-10">
                      <label class="col-sm-2 col-form-label">{{post_form.namaKegiatan.label}}</label>
                        <div class="col-sm-10">
                            {{post_form.namaKegiatan}}
                        </div>
                    </div>
                    <div class="form-group row col-lg-10">
                        <label class="col-sm-2 col-form-label">{{post_form.hari.label}}</label>
                        <div class="col-sm-10">
                            {{post_form.hari}}
                        </div>
                    </div>  
                    <div class="form-group row col-lg-10">
                        <label class="col-sm-2 col-form-label">{{post_form.tanggal.label}}</label>
                        <div class="col-sm-10">
                            {{post_form.tanggal}}
                        </div>
                    </div>  
                    <div class="form-group row col-lg-10">
                        <label class="col-sm-2 col-form-label">{{post_form.waktu.label}}</label>
                        <div class="col-sm-10">
                            {{post_form.waktu}}
                        </div>
                    </div>           
                    <button type="submit" class="btn btn-outline-dark btn-lg">Submit</button>
            </form>
            </form> 
        </div>
  </body>
</html>