{% load static %}
<meta http-equiv="pragma" content = "no-cache"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href = "{% static 'css/style.css' %}" >
<link rel="stylesheet" href = "{% static 'css/style/fixed.css' %}">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>My Website</title>

</head>
  <body data-spy = "scroll" data-target="#navbarResponsive">
    {% include "pages/snipsets/navbar.html" %}
    <div class="landing">
        <div class="home-wrap">
          <div class="experience-inner">
          </div>
      </div>
    </div>
    <div class="caption text-center column">
      <div class="row text-center ">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <h2>Experience</h2>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6  text-center">
            <h5>Education</h5>
            <h6>Universitas Indonesia</h6>
            <h7>2018- now</h7>
            <h6>SMA N Titian Teras Jambi</h6>
            <h7>2015- 2018</h7>
            <h6>SMP N 7 Kota Jambi</h6>
            <h7>2012- 2015</h7>
        </div>
        <div class= "col-12 col-sm-12 col-md-6 col-lg-6 text-center">
          <h5>Volunteering</h5>
          <h6>Pemira Fasilkom UI</h6>
          <h7>2018 - now</h7>
          <h6>COMPFEST 11</h6>
          <h7>2019</h7>
        </div>
      </div>
    </div>
  </body>
</html>