{% load static %}
<meta http-equiv="pragma" content = "no-cache"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>My Website</title>

</head>
<body data-spy = "scroll" data-target="#navbarResponsive">
  {% include "pages/snipsets/navbar.html" %}
    <!--Start Landing Page-->
    <div class="landing">
      <div class="home-wrap">
        <div class="home-inner">
          </div>
      </div>
    </div>

    <div class="caption text-center">
      <h1>Welcome to Website</h1>
      <h3>Roy Godsend Salomo</h3>
      <a class="btn btn-outline-light btn-lg" href= "/about">Get Started</a>
    </div>
      <!--End Landing Page-->
</body>
</html>