{% load static %}

<!DOCTYPE html>
<html>
  <meta http-equiv="pragma" content = "no-cache"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
  <link rel="stylesheet" href = "{% static 'css/style.css' %}" >
  <link rel="stylesheet" href = "{% static 'css/style/fixed.css' %}">
  <head>
  <title>{{Title}}</title>
  </head>
  
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <body data-spy = "scroll" data-target="#navbarResponsive">
    {% include "pages/snipsets/navbar.html" %} 
    <div class = "jadwal"> 
    <table class ="table">
      <thead class = "thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Hari</th>
          <th scope="col">Tanggal</th>
          <th scope="col">Waktu</th>
          <th scope="col">Kegiatan</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      {% for post in posts %}
      <tbody>
        <tr>
          <th scope ="row">{{forloop.counter}}</th>
          <td>{{post.hari}}</td>
          <td>{{post.tanggal}}</td>
          <td>{{post.waktu}}</td>
          <td>{{post.namaKegiatan}}</td>
          <td><a href = "{% url 'delete' post.id%}"class = "btn btn-outline-dark btn-lg">Delete</a></td>
        </tr>
      </tbody>
       {% endfor %}
    </table>
      <div class = "col-12 col-sm-12 col-md-12 col-lg-6">
       <a type="submit" class="btn btn-outline-dark btn-lg" href = "/create">Add</a>
      </div>
    </div>
  </body>
</html>